@model Fornecedor

@{
    ViewData["Title"] = "Alterar Fornecedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Alterar" method="post">
    <fieldset>
        <legend>Alterar Fornecedor</legend>

        <input type="hidden" asp-for="Id" readonly="" />

        <div class="form-group" id="Nome">
            <label>Nome:</label>
            <input type="text" asp-for="Nome" class="form-control" />
        </div>

        <div class="form-group" id="Cnpj">
            <label>CNPJ:</label>
            <input type="text" asp-for="Cnpj" class="form-control" />
        </div>

        <button type="submit" value="Salvar" class="btn btn-primary mb-2">Salvar</button>
    </fieldset>
</form>

<div><a href="~/Fornecedor/Index" class="btn btn-primary">Voltar</a></div>