@model List<Movimento>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime dataHora = DateTime.Now;
}


<h2>Gerenciamento de Movimentações</h2>

<div>
    <div>
        <br />
        <br />
        <h4>Exibir o Mapa do Estoque Atual</h4>
    </div>
    <div>
        <br /><p> <a class="btn btn-primary" asp-action="Cadastrar">Cadastrar</a> </p>
    </div>    
</div>







